// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #571599 !default;
$header-bg-color-secondary: #991557 !default;

// Text
$section-headings-color: #571599 !default;
$body-text-color: #71606c !default;
$body-link-color: #b81e6b !default;
$blockquote-text-color: #988191 !default;

// Code
$code-bg-color: #faf3f6 !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #f0dce6 !default;
$table-border-color: #ece9eb !default;
$hr-border-color: #f1eff0 !default;
